aws_region           = "eu-north-1"
environment          = "dev"
project_name         = "bedrock-ai"
vpc_cidr             = "10.0.0.0/16"
public_subnet_1_cidr = "10.0.1.0/24"
public_subnet_2_cidr = "10.0.2.0/24"
az_1                 = "eu-north-1a"
az_2                 = "eu-north-1b"
instance_type        = "t3.micro"

db_url         = "jdbc:postgresql://<host>/<dbname>?sslmode=require"
db_user        = "your-neon-username"
db_password    = "your-neon-password"
redis_host     = "your-upstash-host.upstash.io"
redis_port     = "6379"
redis_password = "your-upstash-token"
jwt_secret     = "your-jwt-secret-min-32-characters-long"
ai_api_key     = "your-gemini-api-key"
